html,body{
padding:0;
margin:0;
height:100.1%	
}
body{
font-family: 'Lato', sans-serif;
font-size:18px;
line-height: 24px;
font-weight:400;
color:#5a5a5a;
border:none;
outline: none;
word-wrap: break-word;
}

a{
	color:#13abd4; text-decoration: none; outline: none; font-size: 18px; font-weight:400;font-family: 'Lato', sans-serif;
	transition:all 0.5s ease-in-out;-moz-transition:all 0.5s ease-in-out;-webkit-transition:all 0.5s ease-in-out;
}
a:hover{
	color:#5a5a5a; 
}
button,input[type=submit]{
transition:all 0.5s ease-in-out;-moz-transition:all 0.5s ease-in-out;-webkit-transition:all 0.5s ease-in-out;	
}
h1,h2,h3,h4,h5,h6,ul,li,br,p,span,img,header,footer,fieldset,legend,nav,article,aside{
padding:0;
margin:0;
}
select:focus,input:focus,button:focus,textarea:focus{
	outline: none;
}
h1,h2{
	font-size: 60px; font-weight:700; text-align: center; line-height:66px;
}
h3{
	font-size:40px; font-weight:400; text-align: center; line-height:45px;
}
h4{
	font-size: 22px; font-weight:400;
}
img{
	max-width:100%; max-height:100%
}
textarea,select,input {
-webkit-border-radius:0; 
-mox-border-radius:0; 
border-radius:0;
box-shadow:none;
-moz-box-shadow:none;
-webkit-box-shadow:none;
}
input[type='submit']{
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
-webkit-border-radius:0; 
-mox-border-radius:0; 
border-radius:0;	
}
input[type='text'],
input[type='email'],
textarea
{
	border:1px solid #9f9f9f;
}
form label{
	font-size:18px; font-weight:400;
}
iframe{
	border:0;
}
.clearfix:before,.block-form-example:before, .clearfix:after,.block-form-example:after {
    content: "";
    display: table;
}

.clearfix:after,.block-form-example:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
.icon{
	background:url(../images/sprite_icon.png) no-repeat; display: inline-block;
}
.text-center{text-align: center;}
.divtable{
	display: table; width: 100%; border-spacing:0; border-collapse:collapse;
}
.divtable .divtr{display: table-row;}
.divtable .divtd{display: table-cell;}
#main-wrapper{
	min-height: calc(100vh - 240px);
}
.ajax-progress{
	width:100%; float: left; text-align: center; clear: both;
}
.ajax-progress > div{
	float: none!important; display: inline-block; vertical-align: middle; 
}
/********header css*******/
.hide_desktop{display:none;}
#page-wrapper{padding-top:70px;}
#header .section{
	position: static; z-index:9
}
#header .logo_section{
	display:block; width:145px; float: left; line-height:70px;
}
#header #logo img{
	display: inline-block; vertical-align: middle;
}
#header{
position: fixed; width: 100%; left: 0; top:0; box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;
z-index:99;
}
#header .section,
.container,
#footer-wrapper .section,
.home_block3 .content,
.home_block4 .content,
#block-views-featured-news-block-1,
body.page-faq .content,
.claims #block-system-main .content,
#block-form-example-claims-zendesk-form .content,
.compare #main .section,
.about-us #block-block-2 .content,
.view-id-why_singapore_life .views-field-body,
#block-views-hoding-page-article-block,
#webform-ajax-wrapper-74,
#block-views-banner-block .content .views-field-body,
#block-views-banner-block .content .views-field-field-banner-bottom-description,
body.page-terms-of-use .content,
body.page-privacy .content,
body.page-fair-dealing .content,
.launchpromo .section
{
	max-width:960px; margin: 0 auto;
}
.holding-page #block-views-banner-block .content{
	max-width:100%;
}
.right_block{float: right;}

.nav_right_block{
	float: right; line-height: 70px;
}
.nav_block{
	float: left; 
	margin-right:15px;
}

.phone_icon a,.account_link a{
	font-size:11px; font-weight:700; color:#aaaaaa; display: block;
}
.phone_icon a{
	cursor: default;
}
.account_link a{
	text-transform: uppercase;
}
.quote_link a,.footer_block2 .quote{
width:94px; height:23px; text-align: center; line-height: 23px; text-decoration: none; color:#fff; display: inline-block; text-transform: uppercase; font-size: 11px; font-weight:700; vertical-align: middle;
}

.quote_link,.phone_icon,.account_link{
	float: left;
}
.quote_link{
	margin:0 0 0 20px;
}
.right_block .phone_icon .icon{
	background-position:-10px -39px; width:10px; height:10px;
}
/**********header css end**********/
.video_block{
	text-align: center; position: relative;
}

.front .video_block img{
	width:100%; vertical-align: top;
}
.video_block .inner_content{
	width:100%; position: absolute;
	left:0;
	bottom:50px;	
}

.video_block .inner_content .btn_block{
	text-align: center;
}
.video_block .inner_content .btn_block a,.watch_btn a{
	display: inline-block; color:#fff; font-size:20px; font-weight:400; text-decoration: none; position: relative; letter-spacing:1px; background: none; padding:0 55px 0 0; text-transform:none; min-width: auto; text-align: left; width: auto;
}
.video_block .inner_content .btn_block a:before,.watch_btn a:before{
	content:'';
	background:url(../images/sprite_icon.png) no-repeat -173px -68px;
	width:40px;
	height:40px;
	border-radius:50%;
	border:1px solid #fff;
	display: block;
	right:0;
	top:11px;
	position: absolute;
	transform:rotate(270deg);
	-moz-transform:rotate(270deg);
	-webkit-transform:rotate(270deg);
	
}
.home_block2{text-align: center;}


.btn_block,.quote_btn{text-align: center;}

.btn_block a,
.quote_btn a,
#zendesk-forms-support-form .form-submit,
input[type='submit'],button,
#webform-ajax-wrapper-74 .links a,
input[type='button'],
.more-btn a
{
color:#fff; text-transform: uppercase;   display: inline-block; font-weight:400; font-size:18px; position: relative; border:none; text-align: center; line-height: 60px; 
cursor: pointer;
width:270px;
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
vertical-align: top;
margin:0 10px;
}



.btn_block .secondary_btn{
	background: none; border:2px solid #f41333; color:#5a5a5a; vertical-align: top; line-height: 56px;
}
.home_block3{overflow: hidden;}

.home_block3 p{text-align: center;}
.home_block3 .list_item{overflow: hidden;}
.home_block3 .list_item ul{
	list-style-type: none; padding: 0; margin: 0;
}
.home_block3 .list_item ul li{
	float: left; width:25%; padding:0 10px; box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;
}
.home_block3 .list_item ul li .image_placeholder{text-align: center;}
.home_block3 .list_item ul li .image_placeholder a{
	display: inline-block;width:150px; height:150px; position: relative;
}
.home_block3 .list_item ul li .image_placeholder img{width:150px; height:150px; border-radius:50%; position: relative;}

.home_block3 .list_item ul li .placeholder_title{font-size: 17px; color:#000; font-weight:400; line-height: 20px; position: relative; text-align: center; height:50px; overflow: hidden; width: 150px; }
.home_block3 .list_item ul li .placeholder_title:after
{
	content:'';
	background:url(../images/sprite_icon.png) no-repeat -276px -78px; 
	width:6px;
	height:9px;
	display: inline-block;
	margin-left:10px;		
}




.home_block4 .list_title p{
	text-align: left;
}
.home_block4 .list_item{overflow: hidden;}
.home_block4 .list_item ul{
	list-style-type: none; padding: 0; margin: 0;
}
.home_block4 .list_item ul li{
	display: block; width:25%; padding:0 10px; float: left; box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;
}
.home_block4 .list_item ul li .list_title{
	font-size:18px; font-weight:700; position: relative; margin-bottom:15px;
}
.home_block4 .list_item ul li .list_title span{
	display: block; text-align: left;
}
.home_block4 .list_item ul li .icon{
	text-indent:-9999px; margin-bottom:10px
}
.home_block4 .list_item ul li .icon1{
	width:56px; height:68px; background-position:-68px 0; 
}
.home_block4 .list_item ul li .icon2{
	width:69px; height:69px; background-position:-128px 0; 
}
.home_block4 .list_item ul li .icon3{
	width:69px; height:68px; background-position:-202px 0; 
}
.home_block4 .list_item ul li .icon4{
	width:67px; height:69px; background-position:-280px 0; 
}
.about-us .home_block5 {
	padding-top:0;
}
.home_block5 .region-featured-news .views-field-field-news-image{text-align: center; }
.home_block5 .region-featured-news [class*='item-']{padding:0 10px;}
.home_block5 .region-featured-news .owl-item .views-field-title{margin-top:10px;}


.home_block5 .region-featured-news .owl-item .views-field-field-published-in,
.home_block5 .region-featured-news .owl-item .views-field-field-publish-date
{
font-style: italic;font-size: 12px; line-height: 18px;
}
.home_block5 .region-featured-news .owl-item .views-field-field-published-in{
	font-style: normal; margin-top:10px
}
.owl-theme .owl-controls .owl-buttons .owl-next {
  right: -50px;
}

.owl-theme .owl-controls .owl-buttons .owl-prev {
  left: -50px;
}
.owl-theme .owl-controls .owl-buttons div {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
 
  position: absolute;
  top: 15%;
}
.owl-theme .owl-controls .owl-buttons .owl-prev:before {
  background: rgba(0, 0, 0, 0) url("../images/sprite_icon.png") no-repeat scroll -380px 0;
  content: "";
  display: inline-block;
  height: 20px;
  transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  width: 20px;
}
.owl-theme .owl-controls .owl-buttons .owl-next:before {
  background: rgba(0, 0, 0, 0) url("../images/sprite_icon.png") no-repeat scroll -380px 0;
  content: "";
  display: inline-block;
  height: 20px;
  transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  width: 20px;
}
/***********footer*********/
#footer-wrapper{color:#fff;}

#footer-wrapper .footer_block1 p{
text-align: center; 
}
.footer_block2{
	text-align: center;
}
.footer_block2 .quote{display: inline-block; width:150px; height:40px; text-align: center; line-height:40px; color:#fff; text-transform: uppercase;vertical-align: top; margin:0 15px; position: relative; font-size: 18px; font-weight:700;}

.footer_block2 .call_block{
	display: inline-block; vertical-align: top; line-height: 40px; margin:0 15px; font-size:16px
}
.footer_block2 .call_block a{
	color:#fff; font-weight:400;  cursor: text;
}
.footer_block2 .call_block .icon{
	background-position:-34px -39px; width:18px; height: 18px; vertical-align: middle; margin-right: 5px
}
.footer_block3 {
  display: table;
  width: 100%;  
  text-align: center;
}
.footer_block3 .column{
	width:25%;  padding:0 25px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; border-right:1px solid #8f8f8f; display: table-cell; vertical-align: top;
}
.footer_block3 .column.interim-page{
	width: auto; display: inline-block; padding:0 10px; vertical-align: middle;
}
.footer_block3 .column.interim-page a{
	text-transform: uppercase; font-size: 12px; line-height:16px; display: block; font-weight:400;
}
.footer_block3 .column.interim-page a:hover,.footer_block3 .column a:hover{
	color:#aaa;
}
.footer_block3 .column:last-child{
	border:none; text-align: left;
}
.footer_block3 .column h2{
font-size:14px; margin-bottom:10px; color:#fff; text-align: left; font-weight:400; line-height: 20px;
}
.footer_block3 .column a{
color:#fff;	
}
.footer_block3 ul{
	list-style-type: none; padding: 0 ;margin: 0;
}
.footer_block3 ul li{
	line-height: 18px
}
.footer_block3 ul.menu li.leaf,.footer_block3 ul li.leaf{
	list-style-image: none;
	list-style-type:none;
	margin: 0;
}
.footer_block3 li.expanded, .footer_block3 li.collapsed, .footer_block3 li.leaf{
	padding:0
}
.footer_block3 ul li a{
	font-size: 14px; color:#fff; font-weight: 400;
	-moz-transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
	transition:all 0.5s ease-in-out;
	
}
.footer_block3 ul li a:hover{
padding-left:5px
}
#footer-wrapper .social_media_block ul{
	list-style-type: none; padding: 0; margin: 0; display: inline-block; vertical-align: top;
}
#footer-wrapper .social_media_block ul li{
margin-bottom:14px
}
#footer-wrapper .social_media_block ul li:last-child{
	margin:0;
}
#footer-wrapper .social_media_block ul li a span{
text-transform: uppercase; display: inline-block; vertical-align: top; line-height: 29px; padding-left: 10px;
}
#footer-wrapper .social_media_block ul li a:before{
	display: inline-block;
	content:'';
	vertical-align: top
}
#footer-wrapper .social_media_block ul li:first-child a:before{
	background:url(../images/sprite_icon.png) no-repeat 0 -71px; width:29px; height:29px;
	
}
#footer-wrapper .social_media_block ul li:nth-child(2) a:before{
	background:url(../images/sprite_icon.png) no-repeat -30px -71px; width:29px; height:29px;	
}
#footer-wrapper .social_media_block ul li:last-child a:before{	
	background:url(../images/sprite_icon.png) no-repeat -60px -71px; width:29px; height:29px;	
}
.footer_block4{
	text-align: center;
}
.footer_block4 ul{
	list-style-type:none; padding: 0; margin: 0; display: inline-block;
}
.footer_block4 ul li{
	float: left; border-right:1px solid #fff; padding:0 7px;
}
.footer_block4 ul li:last-child{
	border:none;
}
.footer_block4 ul li a{
	display: block; color:#fff; line-height: 12px; font-size: 12px; font-weight:400;
}
.footer_block4 .copyright{color:#fff; font-size: 12px;}
.backToTop{
	width:40px; height:40px; border:1px solid #000; background:url(../images/sprite_icon.png) no-repeat -370px 10px; position: fixed; right:20px; bottom:90px; cursor: pointer; display: none; text-indent:-9999px;
	-moz-transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
	transition:all 0.5s ease-in-out;
}
.backToTop:hover{
	border-color:#f41333;
}
/*********mega menu*********/
#megamenu-main-menu .megamenu-parent a{
	position: relative; text-align: left;
}
#megamenu-main-menu .megamenu-parent-0:after{
	content:'';
	background: url(../images/sprite_icon.png) no-repeat -102px -80px;
	width: 6px;
	height:12px;	
	transform:rotate(90deg) translateX(-50%);
	-moz-transform:rotate(90deg) translateX(-50%);
	-webkit-transform:rotate(90deg) translateX(-50%);
	display: inline-block;	
	vertical-align: middle;	
	position: absolute;
	top:45%;
	
}
.megamenu-skin-friendly .megamenu-slot-title a:after{
	content:'';
	background:url(../images/sprite_icon.png) no-repeat -41px 0; 
	position: absolute;
	left: 0;
	background-position:-44px 0;
	width: 6px;
	height: 12px;
	margin: 0;
	top:2px
}
.megamenu-skin-friendly .megamenu-parent-0 li .megamenu-slot-title:before{
	content:'';
	width: 90px;
	height: 90px;
	border-radius:50%;	
	display: block;
	position: static;
	
}
.megamenu-skin-friendly .megamenu-parent-0 li:first-child .megamenu-slot-title:before{
	background:url(../images/why_life.jpg) no-repeat center;background-size: 100%;
}
.megamenu-skin-friendly .megamenu-parent-0 li:nth-child(2) .megamenu-slot-title:before{
	background:url(../images/why_life1.jpg) no-repeat center;background-size: 100%;
}
.megamenu-skin-friendly .megamenu-parent-0 li:nth-child(3) .megamenu-slot-title:before{
	background:url(../images/why_life2.jpg) no-repeat center;background-size: 100%;
}
.megamenu-skin-friendly .megamenu-parent-0 li:nth-child(4) .megamenu-slot-title:before{
	background:url(../images/why_life3.jpg) no-repeat center;background-size: 100%;
}
/*.right_block .megamenu-parent-0,
.right_block .megamenu-parent-1,
.right_block .megamenu-parent-2,
.right_block .megamenu-parent-8
{display: none}
.holding-page .right_block .megamenu-parent,
.about-us .right_block .megamenu-parent,
.contact-us .right_block .megamenu-parent,
.terms-of-use .right_block .megamenu-parent,
.privacy .right_block .megamenu-parent,
.fair-dealing .right_block .megamenu-parent,
.email-confidentiality .right_block .megamenu-parent,
.launchpromo .right_block .megamenu-parent
{
	display: none
}
.holding-page .right_block .megamenu-parent.megamenu-parent-7,
.holding-page .right_block .megamenu-parent.megamenu-parent-8,
.about-us .right_block .megamenu-parent.megamenu-parent-7,
.about-us .right_block .megamenu-parent.megamenu-parent-8,
.contact-us .right_block .megamenu-parent.megamenu-parent-7,
.contact-us .right_block .megamenu-parent.megamenu-parent-8,
.terms-of-use .right_block .megamenu-parent.megamenu-parent-7,
.terms-of-use .right_block .megamenu-parent.megamenu-parent-8,
.privacy .right_block .megamenu-parent.megamenu-parent-7,
.privacy .right_block .megamenu-parent.megamenu-parent-8,
.fair-dealing .right_block .megamenu-parent.megamenu-parent-7,
.fair-dealing .right_block .megamenu-parent.megamenu-parent-8,
.email-confidentiality .right_block .megamenu-parent.megamenu-parent-7,
.email-confidentiality .right_block .megamenu-parent.megamenu-parent-8,
.launchpromo .right_block .megamenu-parent.megamenu-parent-7,
.launchpromo .right_block .megamenu-parent.megamenu-parent-8

{display: block;}*/

.mobile_menu_backdrop {
  background: rgba(0, 0, 0, 0.6);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index:99;
}
/********why singaporelife********/
.why-singaporelife .views-field-field-video-url .field-content{
	position: relative;
}
.why-singaporelife .views-field-field-video-url .field-content img{
	width: auto; height: auto; vertical-align: top;
}

.watch_btn{
	width:100%; text-align: center; position: absolute; bottom:50px; left: 0;
}
.watch_btn a{
	line-height:40px;
}
.watch_btn a:before{
	top:0;
}
.promotions .qualifying_block h2
{
	font-size:25px; font-weight:700;  margin-bottom:30px; line-height:24px; text-transform: uppercase; text-align: center;
}
.why-singaporelife .content,.promotions .content{
text-align: center;
}

.why-singaporelife .quote_btn{padding-bottom:50px;}
/********why singaporelife end********/
/**********promotion page start*******/
#block-views-banner-block .content{
	text-align: center;
}
#block-views-banner-block .views-field-field-banner-bottom-description{
	padding-top:40px
}

#block-views-banner-block .views-field-field-video-embedded-link{
	position: relative;
}
#block-views-banner-block .views-field-field-banner-image{
	position: relative; text-align: center; 
}
#block-views-banner-block .views-field-field-banner-image img{
	width: auto; height:auto; vertical-align: top;
}
.holding-page #block-views-banner-block .views-field-title{
	display:none;
}
#block-views-banner-block .views-field-field-banner-image .caption{
	position: absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
	color:#fff;
	font-size:60px;
	font-weight: 700;
	text-shadow:0 0 12px #000;
	line-height: 60px;
	width: 100%
}


.promotions .qualifying_block{
	color:#fff;
}
.promotions .qualifying_block p{margin-bottom: 10px;}
.promotions .btn_block{margin-top:30px;	}
.promotions .terms_block{padding:50px 0; text-align: justify;}
.promotions .terms_block h4{font-size:14px; font-weight:700;}
.promotions .terms_block p{
	margin-bottom: 10px; font-size:12px; line-height: 16px;
}
/**********promotion page end*******/

/************about us page*********/

.about-us #block-views-banner-block .views-field-title{display: block;}

.about-us #block-views-member-profile-block .content{
	overflow: hidden; max-width:960px; margin:0 auto; text-align: center;
}

.about-us #block-views-member-profile-block .views-row{
	width:33%; display:inline-block; text-align: center; padding:0 30px 70px 30px; box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;
	vertical-align: top;
}
.about-us #block-views-member-profile-block .views-row.views-row-1{
	width: auto; display: block;
}
.about-us #block-views-member-profile-block .views-row .views-field-title
{
font-weight: 700;
}
.about-us #block-views-member-profile-block .views-row .views-field-field-designation{
	margin-bottom:20px; font-weight:400;
}
.about-us #block-views-member-profile-block .views-row .views-field-body{
height:96px; overflow: hidden; margin:20px 0; text-align: center;
}
.about-us #block-views-member-profile-block .views-row .views-field-field-soclial-media-link .linkdin,
#block-views-board-of-directors-block .member_right .social_media a
{
background:url(../images/sprite_icon.png) no-repeat -30px -71px;
width:29px;
height:29px;
display: inline-block;	
text-indent:-99999px;
}
#block-views-board-of-directors-block .member_right .social_media{
	display:none; margin-top: 20px;
}
.about-us #block-views-board-of-directors-block{
overflow: hidden;
}
.about-us #block-views-board-of-directors-block .content{
	max-width: 960px; margin: 0 auto;
}
.about-us #block-views-board-of-directors-block .owl-item [class*='item-']{
	padding:0 10px;
}


.about-us #block-views-board-of-directors-block .owl-item .title{font-weight:700;}
.about-us #block-views-board-of-directors-block .owl-item .info{margin-top:20px;}
.about-us #block-block-1{
text-align: center;
}

.about-us #block-block-1 .content{
	max-width:960px; margin:0 auto; text-align: left;
}

.about-us #block-views-our-partners-block .content{
	max-width:960px; margin:0 auto;
}
.about-us #block-views-our-partners-block .views-row{
	overflow: hidden; margin-bottom: 40px;
}
.about-us #block-views-our-partners-block .views-field-field-partner-type{
text-align: center; margin-bottom:20px;
}
.about-us #block-views-our-partners-block .views-field-field-partner-logo{
	overflow: hidden; text-align: center;
}
.about-us #block-views-our-partners-block .views-field-field-partner-logo ol{
	list-style-type:none; padding: 0; margin: 0;  display: inline-block;
}
.about-us #block-views-our-partners-block .views-field-field-partner-logo ol li{
	padding:15px; display: inline-block; vertical-align: bottom;
}
#block-views-press-releases-block{overflow: hidden;}
#block-views-press-releases-block .content{
	max-width: 960px; margin: 0 auto;
}
#block-views-press-releases-block .owl-item [class*='item-']{padding:0 20px;}
#block-views-press-releases-block .views-field-field-published-in,
#block-views-press-releases-block .views-field-field-publish-date
{
font-weight:400;
}
#block-views-press-releases-block .views-field-field-publish-date{
font-style: italic;
}
#block-views-press-releases-block .views-field-title a{
font-weight:700; color:#5a5a5a; line-height: 20px; display: block;
}
#block-views-press-releases-block .views-field-body{
margin-top: 14px;
}

/*********contact us form********/
.captcha{
	float: left; width:100%; margin-top:1em;
}
.rc-anchor-checkbox-label{
	font-family:'Lato'; color:#474747;
}
.g-recaptcha{text-align: center;}
.g-recaptcha > div{display: inline-block; vertical-align: top;}
.captcha-error{
	color:#ff0000; font-size: 15px; margin-bottom:1em; float: left; width: 100%
}
#block-zendesk-forms-zendesk-support-form{
padding:60px 0;
}


#block-zendesk-forms-zendesk-support-form .content,#block-zendesk-forms-zendesk-contact-us .content{
	max-width: 800px; margin:0 auto;
}
#zendesk-forms-support-form .form-item
{
	text-align: left; position: relative; margin: 0;
}
.chactercount{
	display: block; text-align: right; color:#b5b5b5; margin-top:10px;
}

#zendesk-forms-support-form .subject
{text-align: center;}
#zendesk-forms-support-form .subject .sub{
	display: block; margin-bottom:30px;
}
#zendesk-forms-support-form .form-item-subject{position: relative; text-align: center;}
#zendesk-forms-support-form .form-item-subject select{
	width:315px; outline: none;
}
#zendesk-forms-support-form .form-item-subject .select2-container--default .select2-selection--single{
	border-radius:0; border-color:#9f9f9f; height:60px
}
#zendesk-forms-support-form .form-item-subject .select2-container--default .select2-selection--single .select2-selection__rendered{
	line-height:58px; padding-right:45px;
}

#zendesk-forms-support-form .form-item-subject .select2-container--default .select2-selection--single .select2-selection__arrow{
	height:58px; width:60px;
}
#zendesk-forms-support-form .form-item-subject .select2-container--default .select2-selection--single .select2-selection__arrow b{
	border:none; background:url(../images/sprite_icon.png) no-repeat -312px -78px; width:16px; height:11px;
}
#zendesk-forms-support-form .form-item-subject .select2-container{
	z-index:9;
}
#zendesk-forms-support-form .form-item-subject .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{
	transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
}
#zendesk-forms-support-form .form-item-subject .select2-dropdown{
border-color:#9f9f9f; border-radius:0;
}
#zendesk-forms-support-form .form-item-subject .select2-results__option{
	border-bottom:1px solid #9f9f9f; padding:10px
}
#zendesk-forms-support-form .form-item-subject .select2-results__option:last-child{
	border:none;
}

/*#zendesk-forms-support-form .form-item-subject .select2-container--default .select2-results > .select2-results__options{
	max-height:345px;
}*/
#zendesk-forms-support-form .form-item textarea
{
	background:transparent; border:1px solid #9f9f9f; height:290px; width:100%;box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;color:#5a5a5a; font-size:20px;padding:20px; box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box; font-weight:400; resize:none;
}
#zendesk-forms-support-form .form-item .grippie{
	display:none;
}
#zendesk-forms-support-form .form-item .form-text
{
	background:transparent; border:1px solid #9f9f9f; height:60px; width:100%; box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box; color:#5a5a5a; font-size:16px; padding:0 20px; box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box; font-weight:400;
}

#zendesk-forms-support-form .form-item.error textarea,
#zendesk-forms-support-form .form-item.error .form-text{
	border-color:#ff0000; background-image:none;
}
#zendesk-forms-support-form .error,#zendesk-forms-support-form .form-item.error label{
	color:#ff0000; background:none; display: block; text-align: left;
}

#zendesk-forms-support-form .field-suffix{
	display: block;
}
#zendesk-forms-support-form .submit
{
	text-align: center;
}
#zendesk-forms-support-form .form-submit
{
	cursor: pointer;
}
.reach_us_block{
text-align: center; overflow: hidden;
}

.reach_us_block .reach_us{
	margin-top:30px;
}
.reach_us_block .reach_us ul{
	list-style-type: none; padding: 0; margin: 0; display: inline-block; overflow: hidden;
}
.reach_us_block .reach_us li{
	padding:0 20px; box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box; display: table-cell; width:33.333%
}
.reach_us_block .reach_us li .contact_title{
font-weight:700; margin-bottom:10px; text-transform: uppercase;
}

.reach_us_block .reach_us li .box{
	width:80px; height:80px; border-radius:100%; text-align: center; line-height:80px; display:block; border:1px solid transparent;
	transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	float: left;
	margin-right: 15px;
}

.reach_us_block .reach_us li .box .icon{
	vertical-align: middle; text-indent:-9999px;
}
.reach_us_block .reach_us li .box .icon-call{background-position:-354px -425px; width:30px; height:29px;}
.reach_us_block .reach_us li .box .icon-chat{background-position:-397px -425px; width:28px; height:27px;}
.reach_us_block .reach_us li .box .icon-email{background-position:-436px -426px; width:28px; height:22px;}
.reach_us_block .reach_us li .contact_details{
	overflow: hidden; text-align: left;
}
.reach_us_block .reach_us li p{
	font-size:17px;
}
.our_office_block{text-align: center;}

.our_office_block .address{
	text-transform: uppercase; font-size: 20px; font-weight:700;
}
#map{
	height:300px; margin:40px 0 0;
}
#map img 
{ max-height:none!important;
}
.after-contactus-submit,.product_page_popup {       
    left:50%;
    position: fixed;    
    top:50%;
    width:800px;
    z-index: 9999;
    display: none;
    transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
    color:#000;
}.product_page_popup{
	display: none;; width:100%; position: absolute; transform:none; left: 0; 
}

.after-contactus-submit .close,.product_page_popup .close{
	width: 26px; height: 25px; position: absolute; right:25px; top:16px;
	background:url(../images/sprite_icon.png) no-repeat -426px 0;
	text-indent:-9999px;
	font-size:0;
	cursor: pointer;
}

.after-contactus-submit h2,.product_page_popup h2{
	height:60px; background:#f41333; color:#fff; font-size:30px; line-height: 60px; padding:0 60px; font-weight:700; position: relative; margin: 0;
}
.after-contactus-submit .msg
{
	padding:30px; text-align: center;
}
.after-contactus-submit .msg h3{
	color:#000; font-size: 30px; font-weight:400; margin-bottom:15px;
}
.product_page_popup ul{
	overflow: hidden; list-style-type: none; padding:0; margin: 0;
}
.product_page_popup .grid{
	width:50%; float: left; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
	padding:0 20px;
}
.product_page_popup ul li{
	font-size:24px; font-weight:400; color:#474747; line-height:35px; margin-bottom: 10px;
}
.product_page_popup ul li:before{
	content:'';
	width:9px;
	height: 9px;
	display: inline-block;
	border-radius:50%;
	background:#474747;
	margin-right:10px;
	vertical-align: middle;
}
.product_page_popup .popup_content{
	max-width:960px; margin:40px auto;
}
/********contact us form end*********/
.about-us #block-block-2{
text-align: center;
}
.about-us #block-block-2 h2{
	font-size:30px; line-height: 30px;
}



/************about us page end*********/

#youtubevideo {
	width:100%; height:100%;
	position: fixed;
	left: 0; top:0;
	z-index:99;
	display: none;
}
#youtubevideo .innercontent{
	position: relative;
	
}
#youtubevideo .innercontent a{
	width:30px; height: 30px; color:#fff; border:1px solid #fff; border-radius:50%; position: absolute; right:40px; top:40px; z-index:99; text-align: center; line-height: 30px;
}
/***********product page strat********/
.product #main .section{
	margin:40px 0 0 0
}
.product .view-product-accordian .ui-state-default{
border-radius:0; border:none;
}
.product .view-product-accordian .ui-accordion .ui-accordion-header{
	margin-top:10px;
}
.product .view-product-accordian .ui-accordion .views-row-last .ui-accordion-header{
	margin-bottom:50px;
}
.product .view-product-accordian .ui-accordion .views-row-last .ui-accordion-header.ui-accordion-header-active {
	margin-bottom:0px;
}
.product .view-product-accordian .ui-state-default a{
	color:#fff; font-size:24px; font-weight:700; text-transform: uppercase;
}
.product .view-product-accordian .ui-state-default .ui-icon{
	background:url(../images/sprite_icon.png) no-repeat; width:16px; height:12px;
	left: auto; right:1.5em;background-position:-185px -82px;
	transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
}

.product .view-product-accordian .ui-state-default .ui-icon-triangle-1-s{
	transform:rotate(180deg)
}
.product .view-product-accordian .ui-accordion .ui-accordion-icons{
	padding:0.8em 1.5em;
}
.product .view-product-accordian .ui-accordion .ui-accordion-content{padding:1.5em; color:#474747}
.product .view-product-accordian .ui-accordion .ui-widget-content{border:none; height:auto !important; font-size:18px;}
.product .view-product-accordian .ui-accordion .ui-accordion-content h2{
	text-align: center; margin-bottom: 20px; font-size:25px; text-transform: uppercase; line-height:30px; 
}
.product .view-product-accordian .ui-accordion .ui-accordion-content .row_block .table1 .divtd h3,
.product .view-product-accordian .ui-accordion .ui-accordion-content .row_block .table1 .divtd h4
{
	font-size: 22px; font-weight:400; text-transform: uppercase; text-align: center; margin: 0; line-height: 24px
}
.product .view-product-accordian .ui-accordion .ui-accordion-content .row_block .table1 .divtd h3{
	margin-bottom: 20px;
}
.product .view-product-accordian .ui-accordion .ui-accordion-content .row_block .table1 .divtd h4{
	font-weight:700; text-transform:none;
}
.product .view-product-accordian .ui-accordion .ui-accordion-content .row_block .table1 h2{
	margin: 0;
}
.product .view-product-accordian .ui-accordion .ui-accordion-content .protection{
	margin-top: 20px;
}
.product .view-product-accordian .ui-accordion .ui-accordion-content .protection a{
	font-weight:700; text-decoration: underline;
}
.product .view-product-accordian .ui-accordion .ui-accordion-content .protection a:before{
content:'';
background:url(../images/sprite_icon.png) no-repeat -432px -101px; width:23px; height: 29px; display: inline-block; vertical-align: top; margin-right: 5px;
}
.product .view-product-accordian .ui-accordion .ui-accordion-content .row_block{
	overflow: hidden; padding:20px 0
}
.product .view-product-accordian .ui-accordion .ui-accordion-content .row_block .table1 .divtd{
	padding: 20px; box-sizing: border-box; -wekit-box-sizing: border-box; -moz-box-sizing: border-box; background:#f6f6f6; width:50%
}

.product .view-product-accordian .ui-accordion .ui-accordion-content .row_block .table1 .divtd:last-child{
	background:#aaaaaa
}

.product .view-product-accordian .ui-accordion .ui-accordion-content .row_block .divtd ul{
	list-style-type: none;
}
.product .view-product-accordian .ui-accordion .ui-accordion-content .row_block .divtd li{
	margin-bottom:15px; position: relative; padding-left:20px;
}
.product .view-product-accordian .ui-accordion .ui-accordion-content .row_block .divtd li:last-child{
	margin-bottom: 0;
}
.product .view-product-accordian .ui-accordion .ui-accordion-content .row_block .divtd li:before{
	content:'';
	width:8px;
	height:8px;
	background: #474747;
	border-radius:50%;
	position: absolute;
	left: 0;
	top:8px;
}
.product .view-product-accordian .ui-accordion .ui-accordion-content .row_block.border{
	border-bottom:3px solid #aaaaaa;
	border-top:3px solid #aaaaaa;
}
.product .view-product-accordian .ui-accordion .ui-accordion-content .row_block .table2{
	margin:0 50px;
}
.product .view-product-accordian .ui-accordion .ui-accordion-content .row_block .table2 .divtd{
	padding:10px 0; vertical-align: middle;
}
.product .view-product-accordian .ui-accordion .ui-accordion-content .row_block .table2 em{
	text-transform: uppercase; font-style: normal; font-weight:700;
}
.product .view-product-accordian .ui-accordion .ui-accordion-content .icon{
text-indent:-9999px; 
}
.product .view-product-accordian .ui-accordion .ui-accordion-content .table2 .icon{
border-radius:50%; box-shadow:0 8px 8px #ccc;
}
.product .view-product-accordian .ui-accordion .ui-accordion-content .icon1{
	background-position:0 -312px; width:79px; height:45px;
}
.product .view-product-accordian .ui-accordion .ui-accordion-content .icon2{
	background-position:-100px -313px; width:78px; height:92px;
}
.product .view-product-accordian .ui-accordion .ui-accordion-content .icon3{
	background-position:-204px -312px; width:79px; height:99px;
}
.product .view-product-accordian .ui-accordion .ui-accordion-content .icon4{
	background-position:-319px -314px; width:77px; height:70px;
}
.product .view-product-accordian .ui-accordion .ui-accordion-content .icon5{
	background-position:-425px -314px; width:78px; height:76px;
}
.product .view-product-accordian .ui-accordion .ui-accordion-content .icon6{
	background-position:-150px -524px; width:77px; height:77px;
}
.product .view-product-accordian .ui-accordion .ui-accordion-content .icon7{
	background-position:-232px -524px; width:77px; height:77px;
}
.product .view-product-accordian .ui-accordion .ui-accordion-content .icon8{
	background-position:-313px -524px; width:77px; height:77px;
}
.product .view-product-accordian .ui-accordion .ui-accordion-content .icon9{
	background-position:-395px -524px; width:77px; height:77px;
}
.product .view-product-accordian .ui-accordion .ui-accordion-content .terms_block{
	border-top:1px solid #474747; padding-top: 20px; margin-bottom: 0;
}
.product .view-product-accordian .ui-accordion .ui-accordion-content .terms_block h4{
	text-transform: uppercase; font-size:14px; font-weight:700; margin-bottom: 10px;
}
.product .view-product-accordian .ui-accordion .ui-accordion-content .terms_block{
	font-size:12px; margin-top:30px;
}
.product .view-product-accordian .ui-accordion .ui-accordion-content .terms_block a{
	font-size:12px; color:#474747; text-decoration: underline;
}


.product #block-block-11{
	padding:0 0 50px 0; color:#474747
}
.product #block-block-11 .banner_img{
	position: relative; text-align: center; margin-bottom: 50px;
}
.product #block-block-11 .banner_img h2{
	    color: #fff;
    font-size: 60px;
    font-weight: 700;
    left: 50%;
    position: absolute;    
    top: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width:100%
}
.product #block-block-11  a{
	color:#474747; font-size:18px; font-weight:700; text-decoration: underline;
}

/**********19-07-2017*********/
.product-block .block-banner{
	margin-bottom:40px;
}
.block--more-content{
	background:#f1f1f1; padding:40px 0 0; margin:0 40px; display: none;
}
.plan-benefit .divtd{
	font-size: 40px;
    font-weight: 400;    
    line-height: 45px;
    padding:25px 15px;    
}
.plan-benefit .divtr:first-child .divtd{
	padding-top: 0;
}
.plan-benefit .icon{
	text-indent:-99999px;
}
.plan-benefit .plan_icon1{width:96px; height:55px; background-position:-280px -635px;}
.plan-benefit .plan_icon2{width:96px; height:113px; background-position:-381px -635px;}
.addon ul,.key-plan ul{
	list-style-type:none;
}
.addon ul li,.key-plan ul li{
	font-size: 40px; font-weight:400; line-height: 45px; text-align: center; margin-bottom: 40px;
}
.addon ul li a{
font-size: 40px; font-weight:400; line-height: 45px; position: relative;
}
.addon ul li a:after{
	content:'!';
	width: 45px; height: 45px;
	border-radius:50%;
	border:2px solid #13abd3;
	display: inline-block; 
	text-align: center;
	line-height: 45px;
	margin-left: 15px;
}
.addon ul li em,.key-plan ul li em{
	width:43px; height: 43px; text-align: center; border-radius:50%; border:2px solid #474747; text-align: center; line-height:43px; font-size:32px; display: inline-block;
	font-weight:600; font-style: normal;
}
.addon ul li p{
	margin-top:20px;
}
.product-block .block--more-content .btn_block{
	background:#fff; padding:20px 0;
}
.stay-active .divtr:first-child .divtd{
	padding-top: 0;
}
.stay-active .divtd{
	font-size: 40px; text-align: left; padding:40px;
}
.stay-active .divtd h3{
	text-align: left; margin:0;
}
.stay-active .divtd .description{
	color:#13abd3; line-height: 45px;
}
.stay-active .icon{float: left; margin-right:30px;}
.stay-active .info{overflow: hidden;}
.stay-active .step1{background-position:-484px -635px; width: 82px; height: 80px;}
.stay-active .step2{background-position:0 -749px; width: 83px; height:117px;}
.stay-active .step3{background-position:-94px -749px; width:87px; height:114px;}
.stay-active .step4{background-position:-187px -749px; width:80px; height:103px;}
.stay-active .term-block{font-size:15px; padding:0 0 40px 0;}
.stay-active .term-block a{font-size:15px;}
.universal-life-plan h3{color:#da202c; margin: 0;}
.universal-life-plan p{font-size: 40px; font-weight:400; text-align: center; line-height: 45px; padding-bottom: 40px;}
.more-btn,.less-btn{
	text-align: center; padding-bottom: 40px;
}
.less-btn{
	display:none;
}
.less-btn a{
	color:#da202c;
}
/***********product page end********/
.contact-us .messages.error,#messages{
	display:none
}
.claims #messages,.user #messages{
	display: block;
}
#launcher{
margin:0!important;
height:139px!important;
bottom:auto!important;
top:50%;
transform:translateY(-50%)!important;
-moz-transform:translateY(-50%)!important;
-webkit-transform:translateY(-50%)!important;
}
#ticketSubmissionForm,.zopim,.zEWidget-webWidget--active{
margin:0!important;
bottom:auto!important;
top:50%;
transform:translateY(-50%)!important;
-moz-transform:translateY(-50%)!important;
-webkit-transform:translateY(-50%)!important;
}	
.zopim{
right:0!important; border-radius:0!important; background:#f41331!important;
}
/**********compare*********/
.compare #main .section{
	margin:50px auto;
}
.compare .compare_form{
	margin-bottom:30px;
}
.compare .compare_form .field_block_area{padding:0 0 5px; overflow: hidden; }
.compare .compare_form .field_block_area .field_block{margin-bottom:25px; text-align: center;}
.compare .compare_form .field_block_area .field_block label,.compare .compare_form .field_block_area .field_block .field{
	display: inline-block; vertical-align: top; line-height: 40px; font-weight:400;
}

.compare .compare_form .field_block_area .field_block .field{
	margin-left:10px;
}
.compare .compare_form .field_block_area .field_block .field_column{
	display: inline-block; vertical-align: top; padding:0 10px
}
.compare .compare_form .select2-container--default .select2-selection--single,
.coverage_form .select2-container--default .select2-selection--single
{
	height:40px; border:none; border-radius:0;
}
.compare .compare_form .select2-container--default .select2-selection--single .select2-selection__rendered,
.coverage_form .select2-container--default .select2-selection--single .select2-selection__rendered
{
	line-height:40px; color:#5a5a5a; text-align: left; padding-right:38px; padding-left:14px
}
.compare .select2-container--default .select2-selection--single .select2-selection__arrow,
.coverage_form .select2-container--default .select2-selection--single .select2-selection__arrow
{
	height:40px; width:38px; background:#fff; top:0; right:0;
}
.btn{
	display: inline-block; position: relative;
}

.compare .select2-container--default .select2-selection--single .select2-selection__arrow b,
.coverage_form .select2-container--default .select2-selection--single .select2-selection__arrow b
{
	width: 15px;
	height:9px;
	border:none;
	background:url(../images/sprite_icon.png) no-repeat;
	background-position:-312px -81px;
	margin-left:-7px
}
.compare .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b,
.coverage_form  .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b
 {
 transform:rotate(180deg)
}
.select2-container,.selection,.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--single .select2-selection__rendered
{
	outline: none;
}
.compare .select2-results__option,
.coverage_form .select2-results__option
{
	padding:0 15px; text-align: left;
}
.compare_result_container{display: none;}

.compare_result_container .conpare_table .compare_row{position: relative; margin:0 20px; text-align: left; padding-top:20px; padding-bottom:20px;}
.compare_result_container .conpare_table .compare_row:nth-child(odd){background:#c5c5c5}
.compare_result_container .conpare_table .compare_row:nth-child(even){background:#fff}
.compare_result_container .conpare_table .compare_row.active_row{
	background:#000; color:#fff; line-height:20px;
	position: relative; z-index:1; margin: 0; padding:20px
}

.compare_result_container .conpare_table .compare_row .comapre_column{float: left; width:50%; padding:0 70px; box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;}
.compare_result_container .conpare_table .compare_row .comapre_column:last-child{
	text-align: center;
}
.compare_result_container .conpare_table .error{
	text-align: center; color:#a94442; border: 1px solid #ebccd1; background:#f2dede; padding:15px; display: block; border-radius:10px;
}
.compare_result_container h4{
	text-align: center; font-size:22px; line-height: 30px; font-weight:400; margin-bottom: 20px;
}
.compare_result_container .disclaimer{
	font-size:12px; font-weight:400; text-align: center; margin-bottom:40px; margin-top: 20px
}
.receive_copy{
	margin:30px 0;
}
.receive_copy span{display: inline-block; vertical-align: top;}
.receive_copy span input{
	display: none
}
.receive_copy span label{font-size:16px; font-weight:400; position: relative; line-height:16px; padding-left: 20px; cursor: pointer;}
.receive_copy span label:before{
	content:"";
	width:16px;
	height: 16px;
	border-radius:2px;
	background:#5a5a5a;
	display: block;
	position: absolute;
	left: 0;
	top:0;
	color:#fff
}
.receive_copy span input:checked + label:before{
content:"\2713";	
}
/*********compare end*********/
.zenbutton{
	display:none;
}
/************working-professional**********/
.working-professional .content,
.planning-a-family .content,
.families .content,
.ageing-parents .content
{
	max-width: 960px; margin: 0 auto;
}

.working-professional .video_block{
	margin-top:50px;
}
.working-professional .coverage_section{
	margin:0 0 50px
}
.working-professional .coverage_section h3{
margin-bottom: 30px;
}
.coverage_form{
	text-align: center; margin:50px 0;
}
.coverage_form .field_block{
	display: inline-block; vertical-align: top; padding:0 10px;
}
.coverage_form .field_block label{
	display: inline-block; vertical-align: top; font-weight:400; padding-right: 10px; line-height: 40px;
}
.coverage_form .field_block .field{
	display: inline-block; vertical-align: top;
}
.coverage_result_container{
	margin:50px 0;
}
.coverage_result_container .tab_section{
	text-align: center; overflow:hidden; padding:30px 0;
}
.coverage_result_container .tab_section ul{
	list-style-type:none; padding: 0; margin: 0; display: inline-block; overflow:hidden;
}
.coverage_result_container .tab_section ul li{
float: left; line-height:24px; color:#cccccc; border-right:1px solid #cccccc; padding:0 10px; cursor: pointer;	
}
.coverage_result_container .tab_section ul li a{
	color:#ccc;
}
.coverage_result_container .tab_section ul li.active a{
	color:#13abd4
}
.coverage_result_container .tab_section ul li:last-child{
	border:none;
}
.coverage_box{
	float: left; width: 50%; box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box; text-align: center;
}
.coverage_box .icon1{width: 62px; height: 97px;	background-position:0 -524px;}
.coverage_box .icon2{width: 62px; height: 97px;	background-position:-70px -524px;}
.coverage_box span{color:#f41333}
.coverage_box .price{font-size: 40px; font-weight:700; margin-top:20px; line-height: 34px;}
.coverage_box_container{
	margin-bottom: 30px; overflow: hidden;
}
.tab_content_container{
	margin-bottom:30px;
}
.tab_content_container p{
	line-height:35px;
}
.working-professional .region-press,
.planning-a-family .region-press,
.families .region-press,
.ageing-parents .region-press
{
	background:#fff; padding:50px 0;
}

.help-videos .owl-carousel .owl-item{text-align: center;}
.help-videos .owl-carousel .owl-item .views-field-title{font-size:16px; font-weight:400;}
.help-videos .owl-carousel .owl-item .views-field-field-video-link{position: relative;}
.help-videos .owl-carousel .owl-item .views-field-field-video-link img{
	width: auto; height: auto;
}
.help-videos .owl-carousel .owl-item .views-field-field-video-link .video-embed-description{position: absolute; bottom:20px; width: 100%; font-weight:400; font-size:16px; color:#fff; cursor: pointer;}
.help-videos .owl-carousel .owl-item .views-field-field-video-link .video-embed-description:after{
	content:'';
	background:url("../images/sprite_icon.png") no-repeat scroll -178px -72px;
	display: inline-block;
	width:30px;
	height: 30px;
	vertical-align: middle;
	transform:rotate(270deg);
	-moz-transform:rotate(270deg);
	-webkit-transform:rotate(270deg);
	border:1px solid #fff;
	border-radius:50%;
	margin-left:10px;
}
.help-videos .owl-carousel .owl-item [class*='item-']{
	padding:0 10px;
}
/************working-professional end**********/
.home_block2,
.home_block3,
.home_block5,
#block-views-banner-block,
.about-us #block-views-board-of-directors-block,
.about-us #block-block-1,
.about-us #block-views-our-partners-block,
#block-views-press-releases-block,
.about-us #block-block-2,
.promotions .qualifying_block,
#block-zendesk-forms-zendesk-contact-us,
.reach_us_block,
.our_office_block,
.view-id-why_singapore_life .views-row
{padding:40px 0 50px 0; text-align: center;}
.facts_section{
	padding:60px 0;
}
h2, h1,h3,.home_block2 .btn_block,.footer_block2,.home_block4 .list_item{
margin-bottom:40px;/***Section heading font****/
}
.our_office_block{
	padding-bottom:0;
}
.home_block3 .list_item ul li .placeholder_title{
	margin:10px auto 0;
}

#footer-wrapper{
	padding:30px 0
}
#footer-wrapper .footer_block1{margin-bottom: 30px;}
.footer_block4{padding:30px 0 0;}


.home_block5,#block-views-press-releases-block,.about-us #block-views-board-of-directors-block{
	text-align: left;
}
.about-us #block-views-banner-block{
	overflow: hidden;
}

/*******section padding**********/
/*******holding page******/

.holding-page .field-name-field-content{
	text-align: center;
}
.holding-page #block-views-banner-block{
	padding-top: 0;
} 
.holding-page #block-views-banner-block .views-field-field-banner-image .caption{
	text-shadow:none; color:#f41333; line-height:65px;
}
.holding-page .holding_page_content{
	padding-bottom: 50px;
}

.holding-page .container h3{margin-bottom: 20px; margin-top:40px;}
.holding-page .container h3:first-child{
	margin-top:0;
}
.about-us #block-block-1 .divtd{
	padding:20px;
}
.about-us #block-block-1 .divtd img{
	margin-bottom: 20px;
}
.facts_section{
	text-align: left;
}
.facts_section h2{color:#da202c; position: relative;}
.facts_section h2 strong{font-weight:700; display: inline-block; vertical-align: top}
.facts_section h2 em{font-style: normal;}
.facts_section .divtable{
	counter-reset: rowNumber; max-width:730px; margin: 0 auto;
}
.facts_section .divtr{
	counter-increment: rowNumber;
}
.facts_section .divtd{
	vertical-align: middle; padding:20px 0;
}
.facts_section .divtd:first-child{
	padding-right:20px
}
.facts_section .divtd:first-child:before{		
	content:counter(rowNumber);
	width: 50px;
	height:50px;
	border:1px solid #5a5a5a;
	text-align: center;
	line-height: 50px;
	/*color:#da202c;*/
	font-size:30px;
	display: block;
}
#webform-client-form-74,#form-example-discount-form{
	max-width:800px; margin:0 auto;
}
#webform-client-form-74 .form-item{
	margin:0
}
#webform-client-form-74 label,#zendesk-forms-support-form .form-item label,#form-example-discount-form label{
	position: relative;
	transform:translate3d(0,42px,0) scale(1);
	-moz-transform:translate3d(0,42px,0) scale(1);
	-webkit-transform:translate3d(0,42px,0) scale(1);
	transition:transform cubic-bezier(.25,.8,.25,1) .25s;
	-moz-transition:transform cubic-bezier(.25,.8,.25,1) .25s;
	-webkit-transition:transform cubic-bezier(.25,.8,.25,1) .25s;
	padding-left:45px;
	font-weight:400;
	transform-origin:left top;
	-moz-transform-origin:left top;
	-webkit-transform-origin:left top;
	display: inline-block;
	cursor: text;
	color:#b6b6b6;
}
#form-example-discount-form label.error,
#form-example-discount-form .form-item.focus label.error
{
	transition:none; 
	color:#ff0000; 
	-webkit-transform:none;
	-moz-transform:none;
	transform:none;
	font-size: 15px;
	padding: 0;
}
#webform-client-form-74 .focus label,#zendesk-forms-support-form .form-item.focus label,#form-example-discount-form .form-item.focus label{
	transform:translate3d(0,4px,0) scale(.75);
	-moz-transform:translate3d(0,4px,0) scale(.75);
	-webkit-transform:translate3d(0,4px,0) scale(.75);
	padding-left: 0
}
#webform-client-form-74 input[type='text'],
#webform-client-form-74 input[type='email'],
#form-example-discount-form input[type='text']
{
	height:60px; padding:10px 20px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; width:100%;
	font-size:18px; font-weight:400; color:#474747;
}
.error{
	color:#ff0000;font-size:15px;
}
#webform-client-form-74 input[type='text'].error,#webform-client-form-74 input[type='email'].error{
	border:1px solid #ff0000;
}
#webform-client-form-74 .form-actions{
	text-align: center;
}
#webform-client-form-74 input[type='submit']{
	margin:0;
}
#block-views-hoding-page-article-block .item-list{
margin-bottom:50px;
}
.front #block-views-hoding-page-article-block .item-list{
margin-bottom:0px;
}
#block-views-hoding-page-article-block .item-list .pager li{
	padding: 0; margin: 0;
}
#block-views-hoding-page-article-block .item-list a{
	color:#f41333; border:1px solid #f41333; text-transform: uppercase; width:270px; text-align: center; line-height:60px; display: inline-block;
}
#block-views-hoding-page-article-block .view-content{
	float: left; width: 100%; text-align: left;
}
#block-views-hoding-page-article-block .views-row{
	width:48%; display:inline-block; box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box; padding:0 20px; margin-bottom: 50px; text-align: left;
}
#webform-ajax-wrapper-74{
	margin-top: 10px;
}

#webform-ajax-wrapper-74 .webform-component-markup.form-item h3{
	font-weight:700; margin: 0;
}
#block-views-hoding-page-article-block .views-row .views-field-field-holding-image{margin-bottom:20px}
#block-views-hoding-page-article-block .views-row .views-field-field-holding-image img{width: auto; height: auto;}
#block-views-hoding-page-article-block .views-row .views-field-field-posted-date{
margin-bottom:20px
}
#block-views-hoding-page-article-block .views-row .views-field-title{
	font-size:30px; font-weight:bold; line-height: 34px;margin-bottom: 20px; overflow: hidden;
}
#webform-ajax-wrapper-74 .links{
	text-align: center; display: none;
}

/*******holding page end******/
.ui-datepicker-trigger{
	background:#fff url(../images/datepicker_arrow.png) no-repeat center; width: auto; height:40px;
	margin: 0; line-height: inherit; padding:0 10px; vertical-align: middle;	
}
#ui-datepicker-div{
	border:none; background:#fff; border-radius:0;
}
#ui-datepicker-div .ui-state-default{background:none; border:none; width:36px; height: 36px; padding: 0; text-align: center; line-height:36px;}
#ui-datepicker-div .ui-state-default.ui-state-highlight{border-radius:50%; border:1px solid #f41333; color:#f41333;}
#ui-datepicker-div .ui-state-default.ui-state-active{background:#f41333; border:none; color:#fff; border-radius:50%;}
#ui-datepicker-div tbody{border:none;}
.ui-datepicker th{font-weight:400;}
.ui-datepicker .ui-widget-header{background: none; border: none; }
.ui-datepicker .ui-widget-header .ui-icon.ui-icon-circle-triangle-w{background:#fff url(../images/datepicker_arrow.png) no-repeat center; transform:rotate(90deg) }
.ui-datepicker .ui-widget-header .ui-icon.ui-icon-circle-triangle-e{background:#fff url(../images/datepicker_arrow.png) no-repeat center; transform:rotate(270deg) }


.ui-datepicker .ui-state-hover{background: none; border:none;}
.ui-datepicker .ui-datepicker-title{
	text-align: center;
}
.ui-datepicker .ui-datepicker-title select{
	border:none; -moz-appearance:none;-webkit-appearance:none; color:#474747; width: auto; float: none;
}
.ui-datepicker .ui-datepicker-title select.ui-datepicker-year{
	float: none;
}
.compare_form input[type='text']{
	background:#fff; height: 40px; padding: 0 10px; border:none; font-size: 17px; color:#5a5a5a; font-weight:400; border-radius:0!important;
}
.compare_form .dobfield{
	width:45px; 
}
/*******admin css start***********/
#user-login{
	max-width:400px; margin: 0 auto; background:#fff; padding:20px; overflow: hidden;
}
#user-login .form-text{
	border:1px solid #ccc; background:#fff; height:40px; padding:0 10px; width:100%; box-sizing: border-box; -webkit-box-sizing: border-box;-mox-box-sizing: border-box;
}
#user-login .form-actions{
	float: left; width: 100%; text-align: center;
}
#user-login input[type='submit']{
	margin: 0;
}
.user .profile{
	max-width: 960px; margin:0 auto;
}
#admin-menu-wrapper a{
	font-size:12px;
}
/*******admin css end***********/
#webform-ajax-wrapper-74 .webform-confirmation .after-contactus-submit,
#webform-ajax-wrapper-74 .webform-confirmation .mobile_menu_backdrop
{
	display: block;
}
.email-confidentiality .region-content > #block-system-main > .content{
	max-width:960px; margin:50px auto;
}
.captcha{
	transform:scale(0.89);
	-moz-transform:scale(0.89);
	-webkit-transform:scale(0.89);
	transform-origin:50% 50%;	
	-webkit-transform-origin:50% 50%;	
	-moz-transform-origin:50% 50%;
	
}
.user .captcha{
	margin-top: 0
}

/********fullscreen colorbox*******/
.fullscreen #cboxMiddleLeft,
.fullscreen #cboxMiddleRight,
.fullscreen #cboxTopLeft,
.fullscreen #cboxTopCenter,
.fullscreen #cboxTopRight,
.fullscreen #cboxBottomLeft,
.fullscreen #cboxBottomCenter,
.fullscreen #cboxBottomRight,
.fullscreen #cboxContent
{
	background:#000;
	border-radius:0;
	background-image:none;
}
.fullscreen #cboxWrapper{
	background:#000; border-radius:0;
}
.fullscreen#colorbox, .fullscreen #cboxWrapper{
	z-index:999999
}
.fullscreen #cboxClose{
background:none; border:1px solid #fff; width:30px; height: 30px; border-radius:50%;
}
.fullscreen #cboxClose:before{
	content:'';
	background:url(../images/sprite_icon.png) no-repeat -431px -4px;
	width: 15px;
	height: 15px;
	display: block;
	position: absolute;
	left:6px;
	top:5px;
}
/********fullscreen colorbox end*******/
/*********promo page css start********/
.promo_content_block .divtd{padding:30px 0; width:50%}
.promo_content_block .divtd:first-child,.promo_content_block .divtd:nth-child(3){padding-right:15px;}
.promo_content_block .divtd:nth-child(2),.promo_content_block .divtd:nth-child(4){padding-left:15px;}
.promo_content_block .icon{float: left; margin-right:30px}
.promo_content_block .info{overflow: hidden; padding-bottom:10px;}
.promo_content_block .info h3{text-align: left; margin: 0; line-height:30px;font-size: 30px;}
.promo_content_block .info .description{font-size: 30px; color:#13abd3; line-height:30px; padding-top:10px;}
.promo_icon1{width:65px; height:51px; background-position:0 -635px; text-indent:-9999px;}
.promo_icon2{width:73px; height:63px; background-position:-66px -635px; text-indent:-9999px;}
.promo_icon3{width:68px; height:80px; background-position:-139px -635px; text-indent:-9999px;}
.promo_icon4{width:66px; height:77px; background-position:-208px -635px; text-indent:-9999px;}
.terms_block{
font-size:14px;	border-top:1px solid #474747; margin:50px 0; padding:20px 0 0; line-height: 18px;
}
.terms_block ol{
	padding: 0; margin: 0; list-style-position: inside;
}
.terms_block ol li{
	margin-bottom:5px;
}
.terms_block p{
	margin-bottom: 15px;
}
.form-item input.error, .form-item textarea.error, .form-item select.error{
border:1px solid red
}
.launchpromo #messages,.launchpromo #scrollm.mobile_menu_backdrop{display: block;}
.launchpromo #messages .error{display: none;}
.launchpromo #form-example-discount-form .form_btn{margin-top:25px}
#form-example-discount-form{
	margin:40px auto 0;
}
#webform-ajax-wrapper-74 .captcha{margin-bottom: 1em; position: relative;}
#webform-ajax-wrapper-74 .captcha .error{margin-bottom: -1.50em; position: absolute; bottom:0; text-align: center; width: 100%;}


.launchpromo #messages .btn_block{text-align: center; margin:0 0 30px;}
.launchpromo #messages .btn_block a{
vertical-align: top;
color:#fff; text-transform: uppercase;   display: inline-block; font-weight:400; font-size:14px; position: relative; border:none; text-align: center; line-height: 40px;
 cursor: pointer;
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
vertical-align: top;
margin:0 5px;
padding:0 20px;
width: auto;
}
.after-contactus-submit div.messages{
	padding:30px 30px 20px 30px;
}
.after-contactus-submit div.status{background:none; border:none; color:#333}
#doberror{ display: block;}
.pw-sticky.__pw-btnclose-true.__pw-position-right{
	right: auto!important; left:0!important;
}
.pw-sticky.__pw-btnclose-true.__pw-position-right .pw-sticky__btnclose{
	display: none!important;
}
.launchpromo #block-views-banner-block h3{
	font-size:38px;
}
@media only screen and (min-width:681px) and (max-width:780px){
#header .logo_section{width: auto; float: none; text-align: center; line-height: 48px;}	
#header .logo_section img{width: 145px;}	
.right_block{float: none; position: relative;}
.nav_right_block {line-height: 35px; margin-right: 10px;}
#page-wrapper {padding-top: 83px;}
.region-featured-news .content{padding:0 50px;}
.home_block4{padding:0 20px;}
.view-id-why_singapore_life .views-row,.product .view-header {padding-left: 20px; padding-right: 20px;}
.product .view-product-accordian .ui-accordion .ui-accordion-content .row_block .table2{margin:0;}
.product .view-product-accordian .ui-accordion .ui-accordion-content .row_block .table2 .divtd {padding:10px;}
#block-views-banner-block .views-field-field-banner-bottom-description,
 .about-us #block-views-board-of-directors-block,
 .about-us #block-block-1
{
	padding-left:20px; padding-right:20px;
}
.about-us #block-views-board-of-directors-block .owl-buttons{display: none;}
.about-us #block-views-board-of-directors-block .owl-item [class*="item-"] {padding: 0 20px;}
.working-professional #main {padding: 0 20px;}
.working-professional .region-press {margin-left: -20px; margin-right: -20px;}
#block-zendesk-forms-zendesk-contact-us {padding: 50px 20px;}
.reach_us_block {padding: 40px 20px;}
.launchpromo #main-wrapper {
  padding: 0 20px;
}
.compare .compare_form .field_block_area .field_block .field_column{margin-bottom:20px;}
.compare .compare_form .field_block_area .field_block{margin-bottom:0;}
.page-heading, .product-block .container {padding: 0 20px;}
.claims .reach_us_block .reach_us li .contact_details{
float: none; text-align: center;	
}
.claims .reach_us_block .reach_us li .box{float: none; margin: 0 auto 10px;}
.stay-active .divtd{
	padding:20px;
}
}
@media only screen and (max-width:680px){
.mobile_menu_backdrop{
	z-index:9
}
.front #main{
	padding:0 20px;
}
h1, h2{
	font-size:30px; line-height: 35px;
}
h3,.launchpromo #block-views-banner-block h3{
	font-size:24px; line-height:30px;
}
.home_block3 h3,.home_block4 h3{
	text-align: left;
}
.hide_desktop{display:block;}
.hide_mobile{display:none;}
#header{padding:10px 0;}	
#page-wrapper,.not-front #page-wrapper{padding-top:52px;}
#header .section{width: auto; margin: 0;}
#header .logo_section{ width:150px; float: left; margin-left:30px; line-height: inherit;}
.right_block{margin-right:30px;}
.right_block .phone_icon span{
	display:none
}
.nav_right_block {
  float: left;
  margin-right: 20px;
  padding-top: 3px;
  margin-top: 0;
  line-height: inherit;
}
.nav_block {
  float: right;
  margin-right:0
}
.right_block .phone_icon .icon{
	background-position:0 0; width:25px; height:28px; vertical-align: bottom;
}
.toggle_menu_btn{
	float: right; 
}
.toggle_menu_btn {
  height: 23px;
  margin-top:3px;
  position: relative;
  width: 30px;
}
.toggle_menu_btn span{
	position: absolute;
	top: auto;
	bottom:0;
	width:30px;
	height: 2px;	
	display: block;
}
.toggle_menu_btn span:before{
	content:'';
	position: absolute;
	top: -10px;	
	width:30px;
	height: 2px;	
	display: block;
}
.toggle_menu_btn span:after{
	content:'';
	position: absolute;
	top: -20px;	
	width:30px;
	height: 2px;	
	display: block;
}

.region.region-header-menu {  
  display: none;
  left: 0;
  max-height: 450px;
  overflow: auto;
  padding: 10px 0;
  position: absolute;
  top:50px;
  width: 100%;
}


.video_block .inner_content .btn_block a::before,.watch_btn a:before {
  background: rgba(0, 0, 0, 0) url("../images/sprite_icon.png") no-repeat scroll -179px -73px;  
  top: 16px;  
  width: 30px;
  height: 30px;
}

.video_block .inner_content .btn_block a{
	padding-right:40px;
}
.front .video_block{margin-left:-20px;	margin-right:-20px;}
.video_block .inner_content{
	width:100%; bottom:0
}
.home_block3 .list_item ul li{width:50%; margin-bottom:10px;}
.home_block3 .list_item ul li .image_placeholder img,.home_block3 .list_item ul li .image_placeholder a {height: 100px; width: 100px;}
.home_block3 .list_item ul li .image_placeholder a:before,.home_block3 .list_item ul li .image_placeholder a:after{
	display:none
}

.home_block3 .list_item ul li .placeholder_title:after{
	position: absolute; left: 0; top:6px; margin: 0;
}
.home_block3 p,.home_block4 p{
	text-align: left;
}


.home_block4 .list_item{
	margin:50px 0;
}
.home_block4 .list_item ul li{
	width: auto; float: none; margin-bottom:40px;
}
.home_block4 .list_item ul li:last-child{
	margin:0;
}
.home_block4 .list_item ul li .icon1{
	width:54px; height:68px; background-position:-68px 0; 
}
.home_block4 .list_item ul li .icon2{
	width:68px; height:68px; background-position:-128px 0; 
}
.home_block4 .list_item ul li .icon3{
	width:69px; height:68px; background-position:-202px 0; 
}
.home_block4 .list_item ul li .icon4{
	width:66px; height:36px; background-position:-279px -19px; 
}
.home_block4 .list_item ul li .list_title{
	text-transform:none; margin-bottom:10px; font-size: 22px
}
.home_block4 .list_item ul li .icon{
	margin-bottom:0;
}
.home_block4 .list_item ul li .list_title div{
	float: left;margin-right:10px;
}
.home_block4 .list_item ul li .list_title span{
	overflow: hidden;
}
.media_description .media_title{font-size: 18px; font-weight:700; margin-top: 20px; color:#000}
.media_description .media_title a{
	margin:10px 0;  display: block;
}
.media_description .media_title a{color:#13abd3; font-size:18px; font-weight:700;}
.media_description .source{
	font-size:16px; font-weight:700; font-style: italic; line-height:20px; color:#000; margin-top: 0;
}
.media_description .date{
	font-size:16px; font-weight:300; font-style: italic; line-height:20px
}
#footer-wrapper{text-align: center; padding:30px 0}
#footer-wrapper .footer_block1{padding:0 30px;}
#footer-wrapper .footer_block1 p {
  font-size:15px;
  font-weight:400;
  text-align: center;
  text-transform: none;
}
.footer_block2 .quote{
	font-size:14px; font-weight:400;
}
.footer_block2{
	margin:0;
}
.footer_block3 .column{
width: auto; float: none; min-height: auto; border-right:none; display: block;
}
.footer_block3 .column,.footer_block3 .column:last-child { border-top: 1px solid #707070; padding:8px 0}
.holding-page .footer_block3 .column:nth-child(3) { border-top: 1px solid #707070; border-bottom:none;}
.footer_block3 .column:nth-child(3) { border-bottom: 1px solid #707070;}
.footer_block3 .column h2{font-size: 16px; margin: 0; text-transform:none; position: relative; text-transform:none; color:#fff; text-align: center; line-height: 28px; text-transform: none;}
.footer_block3 .column h2:before{
	content:'';
	background:url(../images/sprite_icon.png) no-repeat -185px -84px;
	width:16px;
	height:10px;
	position: absolute;
	right: 20px;
	top:9px;	
	-moz-transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	transition:all 0.5s ease-in-out;
}
.footer_block3 .column h2.active:before{	
	transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
}

.footer_block3 ul li a{
	display: block; text-align: center; line-height: 22px;
}
#footer-wrapper .social_media_block {
	margin-top:20px
}
#footer-wrapper .social_media_block ul li{float:left; margin:0 10px}
#footer-wrapper .social_media_block ul li a span{display: none}
.footer_block4 {
  padding: 20px 0 0;
  text-align: center;
}
.footer_block2 .call_block{
	display:none
}
.footer_block2 .call{
	line-height:40px; border-top:1px solid #707070; margin-top: 10px;
}
.footer_block2 .call a{
	color:#fff; font-weight:400;
}
.slideUp,.slideDown{
	max-height:0;
	overflow-y: hidden;
	-moz-transition:max-height 0.8s ease-in-out;
	-webkit-transition:max-height 0.8s ease-in-out;
	-o-transition:max-height 0.8s ease-in-out;
	transition:max-height 0.8s ease-in-out;
}
.slideDown{max-height:500px;}
.askus{display: none;}
.footer_block2 .quote:before,
.footer_block2 .quote:after{display:none;}
.footer_block3 .social_media_block ul li a:hover{
	padding:0;
}
#megamenu-main-menu .megamenu-parent-0:after {
  background:url("../images/sprite_icon.png") no-repeat scroll -185px -84px;
  content: "";
  display: block;
  height: 10px;
  position: absolute;
  right: 33px;
  top:16px;
  width: 16px;
  -moz-transition:all 0.5s ease-in-out;
  -webkit-transition:all 0.5s ease-in-out;
  transition:all 0.5s ease-in-out;
  transform:none;
  -moz-transform:none;
  -webkit-transform:none;
}
#megamenu-main-menu .megamenu-parent-0.active:after {
  transform: rotate(180deg);
}
#megamenu-main-menu .megamenu-parent-0 h2 a:after{
	display:none;
}


.owl-carousel-block1 .owl-buttons,
.megamenu-skin-friendly .megamenu-parent-0 li .megamenu-slot-title:before,
.megamenu-skin-friendly .megamenu-slot-title a:after
{
	display:none
}
.right_block .megamenu-parent-0,
.right_block .megamenu-parent-1,
.right_block .megamenu-parent-2,
.right_block .megamenu-parent-8

{display: block}
.home_block5 .region-featured-news .owl-item .views-field-nothing{
	color:#13abd3; font-size:18px;	
}
.home_block5 .region-featured-news .owl-item .views-field-field-published-in{
	color:#000;
}
.home_block5 .region-featured-news .views-field-field-news-image img{
width: auto; height: auto;	
}



/********why singaporelife********/
.promotions .qualifying_block h2,.about-us h2{
	text-transform: none; text-align: center;
}
.watch_btn a:before{
	top:0;
}
.watch_btn a{
	line-height:32px; padding:0 38px 0 0;
}
.watch_btn{
	bottom:20px;
}
/********why singaporelife end********/

/**********promotions page*********/
#block-views-banner-block .views-field-field-banner-image{
	margin-left:-20px;
	margin-right:-20px;
	
}
#block-views-banner-block .views-field-field-banner-image img{
width: auto; height: auto;	
}
#block-views-banner-block .views-field-field-banner-image .caption,
.product #block-block-11 .banner_img h2
{
	font-size:30px;
}
.holding-page #block-views-banner-block .views-field-field-banner-image .caption{
	line-height:35px;
}
#block-views-banner-block .views-field-body{
	text-align: left;
}
#block-views-banner-block .views-field-body p{
	margin-bottom:10px;
}
.promotions .qualifying_block .container{
	padding:0 20px;
}
.promotions .terms_block{
	text-align:left; padding-bottom: 0;
}
/**********promotions page end*********/
.video_block h2{
	display:none;
}
/*********about us*******/

.about-us #block-views-member-profile-block .views-row
{
	width:48%; padding:0 10px 50px; float: none; display: inline-block; vertical-align: top;
}
.about-us #block-views-board-of-directors-block .views-row .views-field-field-member-image{
	width:100px;
}
.about-us #block-views-board-of-directors-block .views-row .views-field-field-member-image img{
	width: auto; height: auto;
}
.about-us #block-views-board-of-directors-block .title{
	margin-bottom: 0; text-align: left; line-height: 20px;
}
.about-us #block-views-board-of-directors-block .views-row .member_right .title a{
	font-size:20px;
}
.about-us #block-views-board-of-directors-block .views-row .member_right .designation{
	font-size:15px; font-weight:600; line-height: 20px; margin-bottom:5px;
}
.about-us #block-views-our-partners-block .views-field-field-partner-type{
	width: auto; text-align: center; float: none;
}
.about-us #block-views-our-partners-block .views-field-field-partner-logo{
	overflow: visible; display: block;
}
.about-us #block-views-our-partners-block .views-field-field-partner-logo ol{
	display:block; text-align: center;
}
.about-us #block-views-our-partners-block .views-field-field-partner-logo ol li{
	float: none; display: inline-block;
}
.about-us #block-block-1 .content{
	padding:0 20px
}
#block-zendesk-forms-zendesk-support-form,.about-us #block-block-2{	
	padding-left:20px;
	padding-right:20px;
}
#block-views-banner-block .views-field-body{
	margin:0;
}
#zendesk-forms-support-form .form-item select
{
	width:100%;
}

.about-us .home_block5{
	padding-left:10px;
	padding-right:10px;
}

/*********about us end*******/
.product #main{
padding: 0;
}
.product #block-views-banner-block .views-field-field-banner-image{
	margin:0;
}
.product #block-block-11 p{
	padding:0 20px;
}
.product .view-product-accordian .ui-state-default a{
	font-size:20px;
}
.product .view-product-accordian .ui-accordion .ui-accordion-content{
	padding:20px 20px 0;
}
.product .view-product-accordian .ui-accordion .ui-accordion-icons{
padding:0.5em 20px
}
.product .view-product-accordian .ui-accordion .ui-accordion-content .divtd:first-of-type{
	padding-right:20px; width:80px
}
.product .view-product-accordian .ui-accordion .ui-accordion-content h3{
	font-size:24px;
}
.product .view-product-accordian .ui-accordion .views-row-3 .product_info{
	margin-left:-20px; margin-right:-20px;
}
.product .view-product-accordian .ui-accordion .views-row-3 .product_info{
	padding:30px 20px;
}
.product .view-product-accordian .ui-accordion .views-row-3 .product_info h3{
	line-height:22px; line-height:28px;
}
#block-zendesk-forms-zendesk-contact-us{padding:50px 20px;}
.reach_us_block{	
	padding:40px 20px;	
}
.reach_us_block h3{
	font-size:25px; line-height: 26px;
}
.reach_us_block .reach_us ul{
	display: block; 
}
.reach_us_block .reach_us li{width: auto; float:none; margin-bottom: 50px; padding: 0; display: block;}
.reach_us_block .reach_us li:last-child{
margin:0;
}
.reach_us_block .reach_us li .box{border:none; float: none; /*width:150px; height:150px; line-height:150px;*/ margin:30px 0;}
.reach_us_block .reach_us li .contact_details{
	text-align: center;
}
.reach_us_block .reach_us li .contact_title{
	text-transform:none; font-size: 24px
}
#map{
	height:350px;
}

.our_office_block .address,.schedule_time {font-size: 16px; font-weight: 400; text-transform: none;}
.why-singaporelife .coverage h2,
.why-singaporelife .agent h2{color:#474747;}
.after-contactus-submit{width:320px}
.after-contactus-submit .msg h3{margin-bottom:15px;}
.after-contactus-submit .msg{padding:30px;}
.after-contactus-submit .close {right: 13px;top: 7px; }
.after-contactus-submit h2{
	height:40px; line-height: 40px;
}


.about-us #block-views-banner-block .views-field-field-banner-bottom-description{
	padding:40px 20px 0 20px;
}
#block-views-board-of-directors-block .member_right .social_media{display: block;}
.about-us #block-views-member-profile-block .views-row .views-field-body{
margin:10px 0; text-align: center;
}
.about-us .view-board-of-directors .views-field-field-member-image{
	float:left; width:100px; margin-right:20px;
}
.about-us .view-board-of-directors .views-field-field-member-image img{
	width: auto; height: auto;
}
.about-us .view-board-of-directors .views-field-field-soclial-media-link{
	overflow: hidden;
}
.owl-buttons{display:none;}
.compare #main{padding:0 20px;}
.compare .compare_form .field_block_area .field_block .field_column{
	padding:0; margin-bottom: 20px;
}
.compare .compare_form .field_block_area .field_block{
	margin:0;
}
.compare .compare_form .field_block_area .field_block:nth-child(2) label{
	display: block;
}
.compare .compare_form .field_block_area .field_block:nth-child(2) .field{
	margin-bottom:10px;
}
.compare_result_container .conpare_table .compare_row.active_row{
	margin-left:-10px;
	margin-right:-10px;
}

.coverage_form .field_block{
	display: block; padding:0 0 30px 0;
}
.help_videos{padding:20px;}
.help_videos img{width: auto; height: auto;}
.help_videos .owl-carousel .owl-item .views-field-title {font-size: 14px; line-height: 18px; text-align: left;}
.help_videos .owl-carousel .owl-item [class*='item-']{
	padding:0 5px;
}
.help_videos .owl-carousel .owl-item .views-field-field-video-link .video-embed-description:after{
	display:none;
}
.help_videos .owl-carousel .owl-item .views-field-field-video-link .video-embed-description{
	text-indent:-9999px; background:url(../images/video_play.png) no-repeat; width:25px; height: 26px;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
}
.coverage_result_container .divtable{
	display:none;
}
.working-professional #main,
.planning-a-family #main,
.families #main,
.ageing-parents #main
{
	padding:0 20px;
}
.coverage_form{
	margin:50px 0 0
}
.coverage_box{
	width:100%; margin-bottom:50px
}
.coverage_result_container .tab_section ul li{
	padding:0 5px;
}
.coverage_result_container h4{margin-bottom:40px; text-align: left;}
.coverage_result_container p{margin-top:20px; line-height: 20px;}
.view-id-why_singapore_life .views-row{padding-left:20px; padding-right: 20px;}
.view-id-why_singapore_life .views-row h3{text-align: left;}
.working-professional .region-press,
.planning-a-family .region-press,
.families .region-press,
.ageing-parents .region-press

{
	margin-left:-20px;
	margin-right:-20px;
}
/********holding********/
.holding-page #main{padding:0 20px 0 20px;}
.facts_section ul li{line-height:24px;}
.facts_section h2 strong{width:200px; text-align: left; padding-left:5px;}
.facts_section h2 em{
	line-height:67px; font-size: 65px;
}
#block-views-hoding-page-article-block .views-row{width:100%; padding: 0; margin-bottom: 30px;}
#block-views-hoding-page-article-block .views-row .views-field-field-holding-image{margin-left:-20px; margin-right:-20px;}
#block-views-hoding-page-article-block .views-row .views-field-title{font-size:20px; line-height: 24px; margin-bottom: 10px; height: auto;}
#block-views-hoding-page-article-block .views-row .views-field-field-posted-date{
	font-size:14px; margin-bottom: 10px;
}

.divtable,.divtable .divtr,.divtable .divtr .divtd{display: block;}
.facts_section .divtable .divtr .divtd{display:table-cell; vertical-align: top;}
.product .view-product-accordian .ui-accordion .ui-accordion-content .row_block .table1 .divtd{
	width: auto;
}
.product .view-product-accordian .ui-accordion .ui-accordion-content .row_block .table2{
	margin:0;
}
.product .view-product-accordian .ui-accordion .ui-accordion-content .row_block .table2 .divtd{
	display: table-cell; padding:10px
}
#zendesk-forms-support-form .form-item textarea{height:145px;}

#webform-client-form-74 label, #zendesk-forms-support-form .form-item label,#form-example-discount-form .form-item label{
	padding-left:20px;
	-webkit-transform:translate3d(0,36px,0) scale(1);
	-moz-transform:translate3d(0,36px,0) scale(1);
	transform:translate3d(0,36px,0) scale(1);
}
#webform-client-form-74 input[type='text'], #webform-client-form-74 input[type='email'],
#zendesk-forms-support-form .form-item .form-text,
#form-example-discount-form .form-item .form-text
{
	height:50px;
}
.compare_result_container .conpare_table .compare_row .comapre_column{width: 100%; text-align: center; padding:10px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; line-height: 24px; height: auto;}
.compare_result_container .btn_block .secondary_btn{margin-top: 10px;}
.our_office_block p{width:255px; margin: 0 auto; text-align: left;}
.btn_block a, 
.quote_btn a, 
#zendesk-forms-support-form .form-submit, 
input[type='submit'], button, 
#webform-ajax-wrapper-74 .links a, 
input[type='button']{margin:0; padding: 0;}
.promotions .terms_block{padding:50px 20px}
.promotions #block-views-banner-block .views-field-field-banner-image{margin:0;}
.footer_block3 .column.interim-page{display: block;}
.footer_block3 .column.interim-page:last-child{border-bottom:1px solid #707070; padding: 0;}
.footer_block3 .column.interim-page a{display: block; line-height:40px;}
.email-confidentiality .region-content > #block-system-main > .content{padding:0 20px;}
.btn_block a, .quote_btn a, #zendesk-forms-support-form .form-submit, input[type='submit'], button, #webform-ajax-wrapper-74 .links a, input[type='button'],
#block-views-hoding-page-article-block .item-list a{width:100%;}
.captcha{transform:none;}
.product .view-header{padding:0 20px;}
.launchpromo #main-wrapper{padding:0 20px;}
.launchpromo #block-views-banner-block .views-field-body{padding:0;}
.promo_content_block .divtd:first-child, 
.promo_content_block .divtd:nth-child(3),
.promo_content_block .divtd:nth-child(2), 
.promo_content_block .divtd:nth-child(4){
padding:0 0 30px 0;	 overflow: hidden;
}
.promo_content_block .icon {margin-right: 20px;}

.promo_content_block .info .description,.promo_content_block .info h3{
	font-size:20px; line-height:24px; padding: 0;
}
#form-example-discount-form h3{
	margin-bottom: 10px;
}
.promo_content_block .divtd{width: auto;}
.launchpromo #form-example-discount-form .form_btn{margin-top:25px;}
.product .view-product-accordian .ui-accordion .views-row-last .ui-accordion-content{padding-bottom:30px;}
.footer_block3 .column:nth-child(3) {border-bottom:none;}
.why-singaporelife .quote_btn{padding-left:20px; padding-right:20px;}
.btn{display: block;}
.after-contactus-submit div.messages{padding:20px;}
.launchpromo #messages .btn_block {padding:0 20px; margin:0 0 20px}
.launchpromo #messages .btn_block a{display: block; margin:0 0 10px; font-size:11px;}
.footer_block3 .column:last-child{text-align: center;}
/*  17-07-2017 */
#footer-wrapper .social_media_block ul li:last-child{ margin:0 0 0 10px;}
.view-content .owl-wrapper-outer.autoHeight{ height:auto!important;}
.page-heading,.product-block .container{padding:0 20px;}
.block--more-content{margin:0 20px;}
.plan-benefit .divtable .divtr .divtd{display:table-cell}
.plan-benefit .divtd,.addon ul li, .key-plan ul li,.addon ul li a,.stay-active .divtd .description,.universal-life-plan p{font-size:24px; line-height:30px}
.addon ul li span, .key-plan ul li span{
	width:35px; height: 35px; line-height:35px; font-size: 24px;
}
.addon ul li a:after{
	margin-left:5px;
	width:30px; height: 30px; line-height: 30px;
}
.stay-active .divtd{
	padding:40px 20px
}
.terms_block{
	padding:20px 30px 0 0
}
}
@media only screen and (max-width:320px){
	.captcha{
	transform:scale(0.88);
	-moz-transform:scale(0.88);
	-webkit-transform:scale(0.88);
	transform-origin:20% 40%;
	-webkit-transform-origin:20% 40%;
	-moz-transform-origin:20% 40%;
}
}


