
/*---------------------------faq-start--------------------------*/
.ui-widget{	
    font-family: 'Lato', sans-serif;
}

.faq #main, 
.terms-of-use #main, 
.privacy #main, 
.fair-dealing #main,
.financial-advice #main
{ padding:50px 0 26px 0;}

body.page-faq .ui-accordion .ui-accordion-header,
body.page-terms-of-use .ui-accordion .ui-accordion-header,
body.page-privacy .ui-accordion .ui-accordion-header,
body.page-fair-dealing .ui-accordion .ui-accordion-header,
body.financial-advice .ui-accordion .ui-accordion-header,
body.policyownersprotectionscheme .ui-accordion .ui-accordion-header
{ background: #5a5a5a; color: #fff; font-size:18px; font-weight:700; padding: 0 30px; line-height: 60px; border-radius:0; 
	border:none;}
body.page-faq .ui-accordion .ui-accordion-header a,
body.page-terms-of-use .ui-accordion .ui-accordion-header a,
body.page-privacy .ui-accordion .ui-accordion-header a,
body.page-fair-dealing .ui-accordion .ui-accordion-header a,
body.financial-advice .ui-accordion .ui-accordion-header a,
body.policyownersprotectionscheme .ui-accordion .ui-accordion-header a
{
	font-size: 20px; font-weight:700; text-transform: uppercase; color:#fff;
}
body.page-faq .ui-accordion .ui-accordion-header .ui-accordion-header-icon,
body.page-terms-of-use .ui-accordion .ui-accordion-header .ui-accordion-header-icon,
body.page-privacy .ui-accordion .ui-accordion-header .ui-accordion-header-icon,
body.page-fair-dealing .ui-accordion .ui-accordion-header .ui-accordion-header-icon,
body.financial-advice .ui-accordion .ui-accordion-header .ui-accordion-header-icon,
body.policyownersprotectionscheme .ui-accordion .ui-accordion-header .ui-accordion-header-icon
{ width: 60px; height: 60px; left: inherit; right: 0; top:0; background:none;border-radius:0; 
	text-align: center; margin: 0;}
	
body.page-faq .ui-widget-content, 
body.page-terms-of-use .ui-widget-content, 
body.page-privacy .ui-widget-content, 
body.page-fair-dealing .ui-widget-content,
body.financial-advice .ui-widget-content,
body.policyownersprotectionscheme .ui-widget-content
{border:none;}

body.page-faq .ui-accordion .ui-accordion-content,
body.page-terms-of-use .ui-accordion .ui-accordion-content,
body.page-privacy .ui-accordion .ui-accordion-content,
body.page-fair-dealing .ui-accordion .ui-accordion-content,
body.financial-advice .ui-accordion .ui-accordion-content,
body.policyownersprotectionscheme .ui-accordion .ui-accordion-content
{padding:30px 30px 0 30px}

body.page-faq .ui-icon-triangle-1-e,
body.page-terms-of-use .ui-icon-triangle-1-e,
body.page-privacy .ui-icon-triangle-1-e,
body.page-fair-dealing .ui-icon-triangle-1-e,
body.financial-advice .ui-icon-triangle-1-e,
body.policyownersprotectionscheme .ui-icon-triangle-1-e
{ background: none;}

body.page-faq .ui-icon-triangle-1-e:after,
body.page-terms-of-use .ui-icon-triangle-1-e:after,
body.page-privacy .ui-icon-triangle-1-e:after,
body.page-fair-dealing .ui-icon-triangle-1-e:after,
body.financial-advice .ui-icon-triangle-1-e:after,
body.policyownersprotectionscheme .ui-icon-triangle-1-e:after
{ background: url(../images/sprite_icon.png) no-repeat scroll -182px -80px; width: 20px; height: 20px; display:block;
 content: ""; position: absolute; top: 50%; margin-top: -10px; left: 50%; margin-left: -10px; transform:rotate(270deg);-moz-transform:rotate(270deg);-webkit-transform:rotate(270deg);}

body.page-faq .ui-icon-triangle-1-s, body.page-terms-of-use .ui-icon-triangle-1-s,
body.page-privacy .ui-icon-triangle-1-s, body.page-fair-dealing .ui-icon-triangle-1-s{ background: none;}
body.page-faq .ui-icon-triangle-1-s:after,
body.page-terms-of-use .ui-icon-triangle-1-s:after,
body.page-privacy .ui-icon-triangle-1-s:after,
body.page-fair-dealing .ui-icon-triangle-1-s:after,
body.financial-advice .ui-icon-triangle-1-s:after,
body.policyownersprotectionscheme .ui-icon-triangle-1-s:after
{ background: url(../images/sprite_icon.png) no-repeat scroll -182px -80px; width: 20px; height: 20px; display: inline-block;
 content: ""; position: absolute; top: 50%; margin-top: -10px; left: 50%; margin-left: -10px;}

 
body.page-faq .ui-state-default a,
body.page-terms-of-use .ui-state-default a,
body.page-privacy .ui-state-default a,
body.page-fair-dealing .ui-state-default a,
body.financial-advice .ui-state-default a,
body.policyownersprotectionscheme .ui-state-default a
{ color: #fff; transition:none;}

body.page-faq .ui-accordion-content,
body.page-terms-of-use .ui-accordion-content,
body.page-privacy .ui-accordion-content,
body.page-fair-dealing .ui-accordion-content,
body.financial-advice .ui-accordion-content,
body.policyownersprotectionscheme .ui-accordion-content
{ font-size:18px;color: #474747; font-weight:400;}

body.page-faq .ui-accordion-content,
body.page-terms-of-use .ui-accordion-content,
body.page-privacy .ui-accordion-content,
body.page-fair-dealing .ui-accordion-content,
body.financial-advice .ui-accordion-content,
body.policyownersprotectionscheme .ui-accordion-content
{ height: auto !important; background:none;}

body.page-faq .ui-accordion-content h4,
body.page-faq .ui-accordion-content h5,
body.page-terms-of-use .ui-accordion-content h4,
body.page-terms-of-use .ui-accordion-content h5,
body.page-privacy .ui-accordion-content h4,
body.page-privacy .ui-accordion-content h5,
body.page-fair-dealing .ui-accordion-content h4,
body.page-fair-dealing .ui-accordion-content h5,
body.financial-advice .ui-accordion-content h4,
body.financial-advice .ui-accordion-content h5,
body.policyownersprotectionscheme .ui-accordion-content h4,
body.policyownersprotectionscheme .ui-accordion-content h5
{padding:0 0 30px; font-weight:700; font-size: 18px; text-transform: uppercase;}

body.page-faq .ui-accordion-content h5,
body.page-terms-of-use .ui-accordion-content h5,
body.page-privacy .ui-accordion-content h5,
body.page-fair-dealing .ui-accordion-content h5,
body.financial-advice .ui-accordion-content h5,
body.policyownersprotectionscheme .ui-accordion-content h5
{text-transform:none; padding: 0;}

body.page-faq .ui-accordion-content p,
body.page-terms-of-use .ui-accordion-content p,
body.page-privacy .ui-accordion-content p,
body.page-fair-dealing .ui-accordion-content p,
body.financial-advice .ui-accordion-content p,
body.policyownersprotectionscheme .ui-accordion-content p
{ margin: 0 0 20px; padding: 0;}

body.page-faq .ui-accordion-content ul,
body.page-terms-of-use .ui-accordion-content ul,
body.page-privacy .ui-accordion-content ul,
body.page-fair-dealing .ui-accordion-content ul,
body.financial-advice .ui-accordion-content ul,
body.policyownersprotectionscheme .ui-accordion-content ul
{ margin-bottom:20px;}

body.page-faq .ui-accordion-content ul li,
body.page-terms-of-use .ui-accordion-content ul li,
body.page-privacy .ui-accordion-content ul li,
body.page-fair-dealing .ui-accordion-content ul li,
body.financial-advice .ui-accordion-content ul li,
body.policyownersprotectionscheme .ui-accordion-content ul li
{ position: relative; list-style-type: none}

body.page-faq .ui-accordion-content ul li:before,
body.page-terms-of-use .ui-accordion-content ul li:before,
body.page-privacy .ui-accordion-content ul li:before,
body.page-fair-dealing .ui-accordion-content ul li:before,
body.financial-advice .ui-accordion-content ul li:before,
body.policyownersprotectionscheme .ui-accordion-content ul li:before
{ content:''; width:6px; height:6px; border-radius:50%; background:#474747; display: inline-block; margin-right:7px; vertical-align: middle;}

body.page-faq .ui-accordion-content a,
body.page-terms-of-use .ui-accordion-content a,
body.page-privacy .ui-accordion-content a,
body.page-fair-dealing .ui-accordion-content a,
body.financial-advice .ui-accordion-content a,
body.policyownersprotectionscheme .ui-accordion-content a
{ color:#13abd3; text-decoration:underline; font-size: 18px; font-size: 400;}

body.page-faq .views-row, 
body.page-terms-of-use .views-row,
body.page-privacy .views-row, 
body.page-fair-dealing .views-row,
body.financial-advice .views-row,
body.policyownersprotectionscheme .views-row
{ margin-bottom:24px; }

/*---------------------------faq-end--------------------------*/

/*-----------------------------claims--------------------------*/
body.claims .view-content{ position: relative;}

body.claims form .form-item{width: 50%; float: left; box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box; padding:10px 16px; margin: 0;}
body.claims form .form-item.form-type-radios{
	width:100%; margin-top:0;
}
body.claims form .form-radios .form-item{padding:7.5px; margin: 0;}
body.claims form .form-item .form-text{
	background:#fff; height: 40px; border:none; width:100%; padding:0 10px; box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box; font-size:18px; font-weight: normal; font-family: 'Lato', sans-serif
}
body.claims form .form-item label{ display: block; font-weight:400; margin-bottom: 10px;}

#block-form-example-claims-zendesk-form #form-example-form h2{clear: both; margin-bottom:17px; float: left; width: 100%;}
#block-form-example-claims-zendesk-form .filldetails{margin-top:28px;}
#block-form-example-claims-zendesk-form .claims_form_field h2{
	color:#5a5a5a
}
.clime_for_list,body.claims form .form-radios{ max-width: 645px; margin: 0 auto;}
.rich_us ul, .clime_for_list ul{ margin: 0; padding: 0; overflow: hidden;}
.clime_for_list ul li{ list-style: none; display:block;width:50%; float: left; padding:10px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;}
.clime_for_list ul li div,.claims #block-form-example-claims-zendesk-form #edit-subject label{background:#f5f5f5; line-height:50px; color: #474747; text-transform: uppercase; text-align:center; cursor: pointer; font-weight:700; -moz-transition:all 0.5s ease-in-out; -webkit-transition:all 0.5s ease-in-out; transition:all 0.5s ease-in-out; margin: 0; font-size:15px; text-transform: uppercase;}
.claims #block-form-example-claims-zendesk-form #edit-subject input[type=radio]{
	display:none;
}
.clime_for_list ul li:hover div,
.claims #block-form-example-claims-zendesk-form #edit-subject input[type=radio]:checked+label,
.claims #block-form-example-claims-zendesk-form #edit-subject label:hover
{
	background:#f41333; color:#fff;
}
.claims .mysubject{
	float: left; width: 100%; padding:65px 0 33px 0; background:#fff;
}
.claims .mysubject .error{
	float: left; display: block; text-align: center; width: 100%
}
.claims_form_field,.claims #form-example-form{
	float:left; width:100%; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
.claims_form_field{
	padding:37px 0 70px 0;
}
#block-form-example-claims-zendesk-form .mysubject h2{
	margin-bottom: 30px;
}
#block-form-example-claims-zendesk-form .form_btn{
	float: left; width: 100%;
}
body.claims #main{ padding: 0 0px; margin: 0 auto;}
.claims #block-views-banner-block .views-field-field-banner-image .caption{
	display: none;
}
.claims #block-views-banner-block .views-field-title{
	display: block;
}

.claims #block-block-9{
	padding-top: 50px;
}
.claims #block-block-10{
	clear: both;
}
.claims .form_btn{
	margin-top:30px;
}
.reach_us_block{
	padding:67px 0 61px 0;
}
/*---------------------------15-05-17------------------------*/

body.claims .views-field.views-field-body{ max-width: 960px; margin: 0 auto;}


/*-------------------------responsive--------------------------*/
@media only screen and (min-width:681px) and (max-width:780px){
.faq #main, 
.terms-of-use #main, 
.privacy #main, 
.fair-dealing #main,
.financial-advice #main
{
	padding-left:30px; padding-right:30px;
}	
	
}	
@media only screen and (max-width:680px){
.faq #main, 
.terms-of-use #main, 
.privacy #main, 
.fair-dealing #main,
.financial-advice #main
{padding-left:30px; padding-right:30px;}

body.page-faq .ui-accordion .ui-accordion-content,
body.page-terms-of-use .ui-accordion .ui-accordion-content,
body.page-privacy .ui-accordion .ui-accordion-content,
body.page-fair-dealing .ui-accordion .ui-accordion-content
body.financial-advice .ui-accordion .ui-accordion-content
{padding:30px 0 0}


body.page-faq .ui-accordion-content h4, body.page-faq .ui-accordion-content h5,
body.page-terms-of-use .ui-accordion-content h4, body.page-terms-of-use .ui-accordion-content h5,
body.page-privacy .ui-accordion-content h4, body.page-privacy .ui-accordion-content h5,
body.page-fair-dealing .ui-accordion-content h4, body.page-fair-dealing .ui-accordion-content h5,
body.financial-advice .ui-accordion-content h4, body.financial-advice .ui-accordion-content h5
{text-transform:none;}
/*-----------------------------claims--------------------------*/
.claims #block-block-9{
	padding:50px 20px 0 20px;
}
.clime_for_list ul li,.claims #block-form-example-claims-zendesk-form #edit-subject label{
	float: none; width: auto;
}
.claims .mysubject{
	padding:37px 30px 24px 30px; float: none; width: auto;
}
#block-form-example-claims-zendesk-form #form-example-form h2{float: none; text-align: left;}
#block-form-example-claims-zendesk-form #form-example-form .claims_form_field{
	padding-left:30px; padding-right:30px;
}
body.claims form .form-item{
	width: auto; float: none; padding:7px 0
}
.clime_for_list, body.claims form .form-radios{
	overflow: hidden;
}
.claims_form_field {
    padding:37px 0 40px 0;
}
.reach_us_block{
	padding:37px 28px;
}
.claims .form_btn{
	margin-top:13px;
}
body.claims form .form-radios .form-item{
	padding:7.5px 0;
}
body.page-faq .ui-accordion .ui-accordion-header,
body.page-terms-of-use .ui-accordion .ui-accordion-header,
body.page-privacy .ui-accordion .ui-accordion-header,
body.page-fair-dealing .ui-accordion .ui-accordion-header,
body.financial-advice .ui-accordion .ui-accordion-header,
body.policyownersprotectionscheme .ui-accordion .ui-accordion-header
{ padding: 20px 30px; line-height:20px;}
body.page-faq .ui-accordion .ui-accordion-header a, body.page-terms-of-use .ui-accordion .ui-accordion-header a, body.page-privacy .ui-accordion .ui-accordion-header a, body.page-fair-dealing .ui-accordion .ui-accordion-header a, body.financial-advice .ui-accordion .ui-accordion-header a, body.policyownersprotectionscheme .ui-accordion .ui-accordion-header a{
	font-size:18px;
}
body.page-faq .ui-accordion .ui-accordion-header .ui-accordion-header-icon, body.page-terms-of-use .ui-accordion .ui-accordion-header .ui-accordion-header-icon, body.page-privacy .ui-accordion .ui-accordion-header .ui-accordion-header-icon, body.page-fair-dealing .ui-accordion .ui-accordion-header .ui-accordion-header-icon, body.financial-advice .ui-accordion .ui-accordion-header .ui-accordion-header-icon, body.policyownersprotectionscheme .ui-accordion .ui-accordion-header .ui-accordion-header-icon{
	height:100%
}
}









